* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

/*Hlavička*/
/*Hamburger*/
.bi-list::before {
font-size: 40px;
color: black;
}

.bi-arrow-right-short {
    color: blue;
    margin-right: 5px;
}


.dropdown-toggle::after {
    color: blue;
    font-size: 15px;
}

.dropdown-item:hover {
    background-color: rgb(250, 250, 255);
    transition: 1s;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
}

.navbar-brand {
    width: 100px;
    max-height: auto;
    max-width: 100%;
    height: 60px;
    margin-left: 10px;
    padding-top: 0px;
    margin-right: 0px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: rgb(53, 53, 53);
}

.me-auto {
    margin-left: auto;
}

.container-fluid {
    background-image: url(obrazky/Formular.jpeg);
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item {
    margin-right: 10px;
}

.navbar {
    padding: 0px;
}

.navbar-nav {
    font-size: 20px;
}

/*formulář*/
.all-do {
    text-align:center;
    color: rgb(25, 0, 148);
    font-size: 15px;
    margin-top: 20px;
    margin-left: 40px;
    }

.form-container {
    height: 200px;
}

.formularek {
    width: 40%;
    height: 400px;
    margin:auto;
    border: 10 px black;

}

.form-title {
    text-shadow: 20px 10px 35px #bdbdbd;
    text-align: center;
    margin-top: 120px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.btn-primary:hover {
    background-color: #0d0e0e;
    color: rgb(255, 255, 255);
    transition: 2s;
}

.form-container {
    background-image: url(obrazky/Formular.jpeg);
    background-position: 30px 150px;
    width: 100%;
    height: 800px;
}

/*Sekce pro kontaktování podpory*/
.supp-section {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 150px;
    background-color: rgb(219 238 180);
}

.supp-title {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.supp-email, .supp-phone {
    font-size: 16px;
    text-decoration: none;
    color: black;
} 

.supp-email:hover, .supp-phone:hover {
    color: rgb(26, 26, 26);
}
#phone-space {
    margin-right: 100px;
}
.li-phone {
    text-align: right;
    list-style-type: none;
}

.li-email {
    text-align: left;
    list-style-type: none;
}

.bi.bi-telephone-inbound::before {
    font-size: 40px;
    color: blue;
    display: flex;
    justify-content: center;
    display: inline-block;
}

.bi-envelope-check::before {
    font-size: 40px;
    color: blue;
    display: flex;
    justify-content: center;
    display: inline-block;
}

/*@media queries*/
@media only screen and (max-width: 991px) {
    .supp-title {
        font-size: 20px;
        margin: 0px 10px;
        margin-bottom: 15px;
}
}

/*odkazy v hambáči*/
@media only screen and (max-width: 991px) {
    .nav-link {
        text-align: center;
}
}

@media only screen and (max-width: 991px) {
    .supp-email, .supp-phone {
        font-size: 15px !important; 
}
}

@media only screen and (max-width: 991px) {

    .navbar-toggler:focus {
        border: none !important;
        box-shadow: none !important; 
}
}

@media only screen and (max-width: 991px) {

   .container-fluid {
       background-size: auto;
       background-position: 10% 40%;
}
}

@media only screen and (max-width: 991px) {

   #phone-space {
       margin-right: 50px;
}
}

@media only screen and (max-width: 830px) {

    .container-fluid {
        background-position: 75% 44%;
 }
 }

 @media only screen and (max-width: 991px) {

    .formularek {
        height: 350px;
 }
 }

 @media only screen and (max-width: 991px) {

    .form-title {
        margin-top: 80px;
 }
 }
 
 @media only screen and (max-width: 991px) {

    .bi.bi-telephone-inbound::before, .bi-envelope-check::before {
        font-size: 30px; 
 }
 }