* {
    padding: 0px;
    margin: 0px;
}

/*hlavička*/
.btn-login {
    display: flex;
    align-items: center;

    border: 20 px solid red ;
    text-decoration: none;
    list-style-type: none;
    color: red;
}

.btn-login:hover {
    color: rgb(255, 74, 74);
}

li {
    list-style-type: none;
}

.navbar-expand-lg, .navbar-nav, .nav-link  {
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;

}

/*formulář*/
form {
    width: 20%;
    margin-left: 60px;
    border: 10 px black;
}

.formtitle {
    margin-top: 80px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.btn-primary:hover {
background-color: #0d6efd;
color: rgb(255, 255, 255);
}

.btn-primary {
    background-color: white; 
    color: rgb(22, 22, 22); 
}

.paragraf {
    color: red;
    font-size: 30px;
}
ul li {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}